<div class="pure-g">
    <div id="list" class="pure-u-1 pure-u-md-1-3">
        <div class="item-list">
            <div class="item" ng-repeat="record in records" ui-sref="records.users.view({ id: record.Id })">
                <div class="item-inner">
                    <h4 class="item-title">{{record.Name}}</h4>
                    <h5>{{record.Email}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="pure-u-1 pure-u-md-2-3">
        <ui-view></ui-view>
    </div>
</div>