<div class="form-container user-form">
    <h1 class="form-title">{{record.Id ? record.Name : '[New]'}}</h1>

    <div class="form-buttons">
        <button class="new-button pure-button" ng-click="new()">New</button>
        <button class="save-button pure-button" ng-click="save()">Save</button>
        <button class="delete-button pure-button" ng-click="delete()">Delete</button>
    </div>

    <form class="pure-form" name="entityForm">
        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4" for="name-input">Name</label>
            <input class="pure-u-1 pure-u-md-3-4" id="name-input" type="text" placeholder="Name" ng-model="record.Name" required>
        </div>
		<div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4" for="password-input">Password</label>
            <input class="pure-u-1 pure-u-md-3-4" id="password-input" type="password" placeholder="Password" ng-model="record.Changes.NewPassword" required>
        </div>
		<div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4" for="type-input">Type</label>
            <input class="pure-u-1 pure-u-md-3-4" id="type-input" type="text" placeholder="Type" ng-model="record.Type" required>
        </div>
        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4" for="email-input">Email</label>
            <input class="pure-u-1 pure-u-md-3-4" id="email-input" type="email" placeholder="Email" ng-model="record.Email" required>
        </div>
    </form>

</div>